body{
  font-family:"Roboto", sans-serif;
  color: #434455;
  background-color:#FFFFFF
}
.studio{
background: #2E2F42;
font-family: "Raleway", serif;
color:#2e2f42;}
.studio-footer{
background: #F4F4FD;
font-family: "Raleway", serif;
font-size:18px;}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform:uppercase;
  color: #4d5ae5;}
h1{
font-family: "Roboto";
font-size: 56px;
font-weight: 700;
line-height: 60;
letter-spacing: 0.02em;
text-align: center;}
.menu-list {
font-family: "Roboto";
font-size: 16px;
font-weight: 500;
line-height: 24;
letter-spacing: 0.02em;
text-align: left;
background: #2E2F42;}
.link-header{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.link-header:hover{
  color: #404BBF;
}
.link-header:focus, .link-header:hover{
  color: #404BBF;
}
.address {
font-family: "Roboto";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24;
letter-spacing: 0.02em;
text-align: left;
background: #434455;}
h2{
font-family: "Roboto";
font-size: 20px;
font-weight: 500;
line-height: 24;
letter-spacing: 0.02em;
text-align: left;
background: #2E2F42;
}
h3{
font-family: "Roboto";
font-size: 16px;
font-weight: 400;
line-height: 24;
letter-spacing: 0.02em;
text-align: left;
background: #434455;
}

